#navBar {
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: var(--background-color);
}
.textBtn {
  text-decoration: none;
  margin: 0rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-weight: bold;
  color: var(--white);
}
#actionTextBtn {
  background-color: var(--primary-color);
}
#centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--white);
  width: 100vw;
  height: 100vh;
}
