body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #ff0844;
  --secondary-color: #ffb199;
  /* --background-color: #121212; */
  --background-color: #f8fafd;
  --gradient: linear-gradient(60deg, #29323c 0%, #485563 100%);
  --black: #29323c;
  --black75: #505559;
  --black50: #737980;
  --black25: #959da6;
  --black10: #b8c1cc;
  --black5: #dae6f2;
  --white: #f8fafd;
  --subtleWhite: #f2f6fa;
  --bluishWhite: #fafcfd;
  --errorColor: #ff7575;
  --successColor: #28db22;
  --inputBoxColor: #dae6f2;
  --shadow: 0px 2.76726px 2.21381px 0px rgba(0, 0, 0, 0.02),
    0px 6.6501px 5.32008px 0px rgba(0, 0, 0, 0.03),
    0px 12.52155px 10.01724px 0px rgba(0, 0, 0, 0.04),
    0px 22.33631px 17.86905px 0px rgba(0, 0, 0, 0.04),
    0px 41.77761px 33.42209px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  background-color: var(--background-color);
}
h1 {
  font-size: 4.209rem;
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 3.15rem;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 2.369rem;
  padding: 0;
  margin: 0;
}
h4 {
  font-size: 1.777rem;
  padding: 0;
  margin: 0;
}
h5 {
  font-size: 1.333rem;
  padding: 0;
  margin: 0;
}
h6 {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
p {
  /* color: var(--black75); */
  font-size: 1rem;
  padding: 0;
  margin: 0;
}
.subText {
  /* color: var(--black75); */
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.488rem;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 2.074rem;
    padding: 0;
    margin: 0;
  }
  h3 {
    font-size: 1.728rem;
    padding: 0;
    margin: 0;
  }
  h4 {
    font-size: 1.44rem;
    padding: 0;
    margin: 0;
  }
  h5 {
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
  }
  h6 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .subText {
    font-size: 0.833rem;
    padding: 0;
    margin: 0;
  }
}
