.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.formCard {
  /* background-color: blue; */
  /* border: 2px solid black; */
  border-radius: 1rem;
  box-shadow: var(--shadow);
  padding: 4rem 3rem 1rem 3rem;
  background-color: var(--subtleWhite);
}
.formHeader {
  color: var(--black50);
  margin-bottom: 1.5rem;
}
.formRow {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}
.formLabel {
  color: var(--black);
}
.formInput {
  margin-top: 0.5rem;
  background-color: var(--inputBoxColor);
  border: none;
  width: 90%;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
}
.formInput:focus {
  border: none;
}
.formInput::placeholder {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--black25);
}
.btn {
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 5rem;
  justify-content: space-between;
  border: none;
  background-image: var(--gradient);
  box-shadow: var(--shadow);
}
.btn h6 {
  margin-right: 1rem;
}
.btn img {
  height: 20px;
}
.form button {
  width: 100%;
  justify-content: center;
}
.errorMessage {
  color: var(--errorColor);
  margin: 0.5rem 0 1rem 0;
  text-align: center;
}
.successMessage {
  margin: 0.5rem 0 1rem 0;
  text-align: center;
  color: var(--successColor);
}
.accountSubText a,
.passwordSubText a {
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.accountSubText,
.passwordSubText {
  margin: 2rem 0;
  text-align: center;
}
